
   <% if @topic.send(attribute) %>
   <div class = "control_group">
     <%= hidden_field(:topic, "#{attribute}_id".to_sym) %>
     <%= t("activerecord.models.#{attribute}")%>: <%=@topic.send(attribute).name%>
   </div>
   <% else %>
     <%= form.text_field attribute.to_sym  %>
   <% end %>


