  <div class="hero-unit">
    <h1><%= @event.name %> <small><%=l @event.starts, format: :short %></small></h1>
    <p><%= @event.description %></p>
    <p><%= 
           link_to_unless_current("Learn more", event_path( @event )) do
             
           end
        %></p>
  </div>
