<%- model_class = Event -%>
<div class="head-slider"></div>
<% if @event.nil? %>

  <div class="hero-unit">
    <h1>Nothing Planned</h1>
    <p>there are no event planned just now...</p>
    <p><%= link_to t('.new', :default => t("helpers.links.new")), new_event_path, class: 'btn btn-primary' %></p>
  </div>


<% else %>

  <%= render "intro" %>

  <% if @events.count > 0 %>

    <h2>Future Events</h2>

    <%= render "list" %>


    <%= link_to t('.new', :default => t("helpers.links.new")), new_event_path, :class => 'btn btn-primary' %>

  <% end # if @events %>

<% end # if @events.first %>

