/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require "learnery/bootstrap_and_overrides.css.less"
 *= require_tree .
 */

.row-fluid {
  margin-bottom: 50px;
}
.navbar-fixed-bottom {
  background-color:white;
  padding: 10px 5px;
}
.debug_dump {
  margin-bottom: 100px;
}

.controls label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  margin-left: 5px;
}

form.form-inline {
  display: inline;
}

/* override width of dt in dl-horizontal by using more specific selector */
body .dl-horizontal dt {
  width: 200px;
}

body .dl-horizontal dd {
  margin-left: 210px;
}

.hero-unit .form-actions {
      border-radius: 6px 6px 6px 6px;
      border: 1px solid #E5E5E5;
}
